<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="device-width, initial-scale=1.0">
        <title>AI Generated Face Detection</title>

    </head>
    <body>
        <h1>Upload New File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file1">
            <input type="submit">
        </form>
        <img src="static/input.jpg" align='middle'>
        <h1>{{result}}</h1>


    </body>


</html>